package main

import (
	"context"
	"fmt"

	"github.com/aws/aws-lambda-go/lambda"
)

type Event struct {
	Name string `json:"name"`
}

type Response struct {
	Message string `json:"message"`
	Success bool   `json:"success"`
}

func HandleRequest(ctx context.Context, event Event) (Response, error) {
	name := event.Name
	if name == "" {
		name = "World"
	}

	return Response{
		Message: fmt.Sprintf("Hello, %s!", name),
		Success: true,
	}, nil
}

func main() {
	lambda.Start(HandleRequest)
}
